<!DOCTYPE html>
<html>
    
   <form>
        Type you username<input type="text" id='Username' name='Username'><br>
    Type the username you want to send friend request to<input type="text" id='req' name='req'><br>
        <button type="submit" id="form-submit1" class="btn" onclick="openit()">
            Send request</button>
            <script src="Try.js"></script>
            <button onclick="openit()" formaction = "http://localhost:3080/pending", type="submit" id="form-submit2" class="btn">View Pending list</button>
            <script src="Try.js"></script>
            <button onclick="play()" class="btn">View Pending list</button>
            <script src="tp.js</script>
            </form>
</html>
