<!DOCTYPE html>
<html>
    DO YOU REALLY NEED TO BE YOUR OWN FRIEND? WE THOUGH THAT WAS BY DEFAULT....
    <form>
        <button formaction = "http://localhost:3080/", type="submit" id="form-submit2" class="btn">GO BACK</button>
        </form>
</html>