<!DOCTYPE html>
<html>
    
    <form>
        <img src="/images/successregi.jpg" />
    <button formaction = "http://localhost:3080/Logging", type="submit" id="form-submit2" class="btn">Go back to Login page</button>
    </form>
</html>